*,
* ::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-white);
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
}
:root {
  --color-primary: #7d2c11;
  --primary-bg-dark: #1d2429;
  --color-secondary: #fd4c00;
  --secondary-bg-dark: #161616;
  --tertiary-bg-dark: #1e1e1e;
  --color-white: #fff;
  --fs-xs: 1.2rem;
  --fs-sm: 1.4rem;
  --fs-base: 1.6rem;
  --fs-md: 1.8rem;
  --fs-lg: 2.4rem;
  --fs-xl: 3.2rem;
  --fs-2xl: 4.8rem;
  --fs-3xl: 6.4rem;
  --fs-4xl: 9.6rem;
}

@media (max-width: 1024px) {
  :root {
    --fs-lg: 2.2rem;
    --fs-xl: 2.8rem;
    --fs-2xl: 4rem;
    --fs-3xl: 5.6rem;
    --fs-4xl: 7.2rem;
  }
}

@media (max-width: 768px) {
  :root {
    --fs-md: 1.6rem;
    --fs-lg: 2rem;
    --fs-xl: 2.4rem;
    --fs-2xl: 3.2rem;
    --fs-3xl: 4rem;
    --fs-4xl: 4.8rem;
  }
}

/**********/
/* CONTAINER */
.container {
  max-width: 170rem;
  margin: 0 auto;
}

.p-lg {
  padding: 4rem 6rem;
}

/**********/
/* typography */
h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: var(--fs-4xl);
}

h2 {
  font-size: var(--fs-3xl);
}

h3 {
  font-size: var(--fs-2xl);
}
h4 {
  font-size: var(--fs-lg);
}

ul {
  list-style: none;
  font-size: var(--fs-lg);
}

/********/
/* Buttons */

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: var(--fs-md);
  font-weight: 600;
  padding: 2rem 3.1rem;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--full {
  background-color: var(--color-secondary);
}
.btn--full:hover {
  background-color: var(--color-primary);
}
.btn--outline {
  border: 1px solid var(--color-primary);
}

/**********/
/* LOGO */

.logo__text {
  color: var(--color-secondary);
  font-weight: normal;
}
.logo {
  font-size: var(--fs-xl);
}

/**********/
/* NAVBAR */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 3.2rem;
  z-index: 100;
}

.nav__list {
  display: flex;
  gap: 4rem;
}

.nav__link {
  text-decoration: none;
  transition: color 0.3s;
}

.nav__link:hover {
  color: var(--color-secondary);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__login {
  border-color: #d9d9d9;
  padding: 0.6rem 2rem;
}

/* =====================
   HERO SECTION
   ===================== */
.hero {
  position: relative;
  background-color: var(--primary-bg-dark);
  background-image: radial-gradient(
    circle at top left,
    var(--color-primary) 0%,
    rgba(253, 76, 0, 0.6) 15%,
    transparent 38%
  );
  display: flex;
  align-items: center;
}

.hero__bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 29.33%;
  height: 100%;
  background: linear-gradient(to bottom, var(--color-primary) 35%, #1d2429 90%);
  z-index: 1;
}

.hero__inner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 680px;
  align-items: center;
  position: relative;
  z-index: 10;
  width: 100%;
}

.hero__content {
  max-width: 80rem;
}

.hero__title {
  margin-top: 15rem;
}

.hero__description {
  font-size: var(--fs-lg);
  line-height: 1.5;
  margin-top: 4rem;
}

.hero__actions {
  display: flex;
  gap: 2.4rem;
  margin: 2rem 0;
}

.hero__image-box {
  position: relative;
  align-self: self-end;
}

.hero__img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.open-text {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.1;
}

.orange-line {
  height: 3px;
  background-color: var(--color-primary);
  width: 100%;
}

/* program-first */
.program-first {
  background: linear-gradient(to right, #1c2328 40%, var(--color-primary) 100%);
}
.program-title {
  text-align: center;
  padding: 4rem 0;
  text-transform: uppercase;
}
.program-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 4rem;
}
.btn-program {
  font-size: var(--fs-base);
  padding: 1.6rem 3.2rem;
  margin-top: 2rem;
}

.card {
  background-color: var(--secondary-bg-dark);
  padding: 4rem 3rem;
}

.card-title {
  margin-bottom: 1.8rem;
  font-size: var(--fs-md);
}

.card-description {
  font-size: var(--fs-sm);
  line-height: 1.6;
}

.program-icon {
  width: 7.2rem;
  height: 6.2rem;
  margin-bottom: 2.5rem;
}

/**********/

/* program-second */

.program-second {
  background-color: var(--primary-bg-dark);
}
.program-second-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.program-second-img {
  background: linear-gradient(to bottom, #1c2328 10%, var(--color-primary) 70%);
}
.program-second-img img {
  object-fit: cover;
  display: block;
  justify-self: end;
  overflow: visible;
}
.program-heading {
  font-size: var(--fs-4xl);
  letter-spacing: 2;
  font-weight: bold;
}

.program-second-text-container {
  background: linear-gradient(
    to top,
    var(--primary-bg-dark) 0%,
    var(--color-primary) 80%
  );
  padding: 5rem;
}
.btn-learn-more {
  border: 1px solid #fff;
  margin-top: 4rem;
  padding: 2rem 4rem;
}
.program-second-text-container p {
  font-size: var(--fs-lg);
  margin-top: 4rem;
  line-height: 1.5;
  max-width: 70%;
}

/**********/
/* card pricing */
.cards-pricing {
  background-color: var(--primary-bg-dark);
}
.card-pricing-title {
  margin-bottom: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--fs-2xl);
}
.card-pricing-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 450px));
  gap: 8rem;
}

.card-pricing {
  background-color: var(--tertiary-bg-dark);
  padding: 4rem 3rem;
  transition: all 0.4s ease-in-out;
}

.card-pricing:hover {
  transform: scale(1.1);
}

.card-pricing-header h2 {
  font-size: var(--fs-lg);
  margin-bottom: 2rem;
  font-weight: bold;
}

.card-pricing-header p {
  font-size: var(--fs-lg);
  margin-bottom: 2rem;
  line-height: 1.5;
}

.pricing {
  font-size: var(--fs-3xl);
  font-weight: 300;
}

.card-bill {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.card-bill span:nth-child(2) {
  font-size: var(--fs-base);
}

.btn-pricing {
  width: 100%;
  color: rgb(48, 48, 228);
  text-align: center;
  padding: 1rem;
  margin-bottom: 4rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.card-pricing-body-container {
  display: flex;
  flex-direction: column;
}

.card-pricing-body {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.card-pricing-body img {
  width: 42px;
  height: 42px;
}

.card-pricing-body span {
  font-size: 1.6rem;
}

.popular {
  transform: scale(1.1);
  background-color: var(--color-secondary);
  border-radius: 2rem;
  transition: all 0.4s ease-in-out;
}
.popular:hover {
  transform: scale(1);
}

/************/
/* why choose us */
.benefits {
  background: linear-gradient(
    to bottom,
    #1c2328 50%,
    var(--color-primary) 100%
  );
}

.benefits-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding-top: 10rem;
  align-items: center;
}

.benefits-container h2 {
  font-weight: bold;
  font-size: var(--fs-3xl);
  margin-bottom: 4rem;
}

.benefits-container ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.benefits-container ul li img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.benefits-container ul li span {
  font-size: var(--fs-md);
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-left {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: visible;
}

.bottom-left {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: visible;
}

.right-side {
  grid-column: 2;
  grid-row: 1 / span 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: visible;
}

.footer {
  background-color: var(--primary-bg-dark);
}

.grid-footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20rem;
}

.footer-paragrah {
  font-size: var(--fs-base);
  line-height: 2;
  font-weight: 100;
  margin-top: 2rem;
  word-spacing: 1rem;
}

.footer-heading {
  font-size: var(--fs-lg);
  margin-bottom: 3rem;
}

.footer-list li {
  font-size: var(--fs-base);
  margin-bottom: 2rem;
}

.footer-list li a {
  text-decoration: none;
}
