* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
}
:root {
  --primary-color: #7d2c11;
  --bg-dark-primary: #1d2429;
  --secondary-color: #fd4c00;
  --bg-dark-secondary: #161616;
  --bg-dark-tertiary: #1e1e1e;
}
ul {
  list-style: none;
}

/**********/
/* CONTAINER */
.container {
  margin: 0 10rem;
  padding: 4.8rem;
}

/**********/
/* LOGO */

.text-logo {
  color: var(--secondary-color);
  font-weight: normal;
}
.logo {
  font-size: 3rem;
}

/********/
/* btn */

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem 3.1rem;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--full {
  background-color: var(--secondary-color);
  margin-top: 4rem;
}
.btn--full:hover {
  background-color: var(--primary-color);
}
.btn--outline {
  border: 1px solid var(--primary-color);
}
.btn-outline-hero {
  margin-top: 4rem;
  margin-left: 4rem;
}

/**********/
/* NAVBAR */
header {
  position: relative;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.4rem;
}

.main-nav-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.main-nav-link {
  text-decoration: none;
  transition: color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--secondary-color);
}

/**********/
/* lEFT HERO SECTION */

.section-hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.hero-left-box {
  border-right: 1px solid var(--bg-dark-primary);
  background-color: var(--bg-dark-primary);
  height: 100%;
  background-image: radial-gradient(
    circle at top left,
    var(--primary-color) 0%,
    rgba(253, 76, 0, 0.6) 15%,
    transparent 38%
  );
}

.hero-text-container {
  max-width: 900px;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 4rem;
}

.hero-title {
  font-size: 9.6rem;
  font-weight: bold;
  margin-top: 6rem;
}

.hero-description {
  font-size: 2.6rem;
  margin-top: 4rem;
  font-weight: 100;
  line-height: 1.4;
}

.content-right {
  text-align: left;
}

.open-text {
  text-transform: uppercase;
  font-size: 6.4rem;
  font-weight: bold;
  line-height: 1.1;
}

.orange-line {
  height: 3px;
  background-color: var(--primary-color);
  width: 100%;
}

/**********/
/* RIGHT HERO SECTION */
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform: translateX(-80px);
  overflow: visible;
}
.hero-right-box {
  position: relative;
  height: 100%;
  background: linear-gradient(to bottom, var(--primary-color) 35%, #1d2429 90%);
}

.btn-login {
  border: 1px solid #d9d9d9;
  padding: 0.6rem 2rem;
  font-size: 2.4rem;
  font-weight: normal;
  position: absolute;
  top: 4rem;
  right: 8rem;
  z-index: 10;
}

.btn-login:hover {
  background-color: var(--secondary-color);
}

/* program-first */
.program-first {
  background: linear-gradient(to right, #1c2328 40%, var(--primary-color) 100%);
}
.programTitle {
  font-size: 4.8rem;
  text-align: center;
  padding: 4rem 0;
  text-transform: uppercase;
}
.program-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 360px));
  gap: 4rem;
}
.btn-program {
  font-size: 1.7rem;
  padding: 1.7rem 2.7rem;
  margin-top: 2rem;
}

.card {
  background-color: var(--bg-dark-secondary);
  padding: 4rem 3rem;
}

.card h1 {
  margin-bottom: 1.8rem;
}

.card p {
  font-size: 1.5rem;
  line-height: 1.3;
}
.program-icon {
  width: 7.2rem;
  height: 6.2rem;
  margin-bottom: 2.5rem;
}

/**********/

/* program-second */

.program-second {
  background-color: var(--bg-dark-primary);
}
.program-second-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.program-second-img {
  background: linear-gradient(to bottom, #1c2328 10%, var(--primary-color) 70%);
}
.program-second-img img {
  object-fit: cover;
  display: block;
  justify-self: end;
  overflow: visible;
}
.program-heading {
  font-size: 9.6rem;
  letter-spacing: 2;
  font-weight: bold;
}

.program-second-text-container {
  background: linear-gradient(
    to top,
    var(--bg-dark-primary) 0%,
    var(--primary-color) 80%
  );
  padding: 5rem;
}
.btn-learn-more {
  border: 1px solid #fff;
  margin-top: 4rem;
  padding: 2rem 4rem;
}
.program-second-text-container p {
  font-size: 2.4rem;
  margin-top: 4rem;
  line-height: 1.5;
  max-width: 70%;
}

/**********/
/* card pricing */
.cards-pricing {
  background-color: var(--bg-dark-primary);
}
.card-pricing-title {
  margin-bottom: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 4.8rem;
}
.card-pricing-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 450px));
  gap: 8rem;
}

.card-pricing {
  background-color: var(--bg-dark-tertiary);
  padding: 4rem 3rem;
  transition: all 0.4s ease-in-out;
}

.card-pricing:hover {
  transform: scale(1.1);
}

.card-pricing-header h2 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.card-pricing-header p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.pricing {
  font-size: 6.8rem;
  font-weight: 300;
}

.card-bill {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.card-bill span:nth-child(2) {
  font-size: 1.6rem;
}

.btn-pricing {
  width: 100%;
  color: rgb(48, 48, 228);
  text-align: center;
  padding: 1rem;
  margin-bottom: 4rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.card-pricing-body-container {
  display: flex;
  flex-direction: column;
}

.card-pricing-body {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.card-pricing-body img {
  width: 42px;
  height: 42px;
}

.card-pricing-body span {
  font-size: 1.6rem;
}

.popular {
  transform: scale(1.1);
  background-color: var(--secondary-color);
  border-radius: 2rem;
  transition: all 0.4s ease-in-out;
}
.popular:hover {
  transform: scale(1);
}

/************/
/* why choose us */
.benefits {
  background: linear-gradient(
    to bottom,
    #1c2328 50%,
    var(--primary-color) 100%
  );
}

.benefits-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding-top: 10rem;
  align-items: center;
}

.benefits-container h2 {
  font-weight: bold;
  font-size: 8rem;
  margin-bottom: 4rem;
}

.benefits-container ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.benefits-container ul li img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.benefits-container ul li span {
  font-size: 1.8rem;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-left {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: visible;
}

.bottom-left {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: visible;
}

.right-side {
  grid-column: 2;
  grid-row: 1 / span 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: visible;
}

.footer {
  background-color: var(--bg-dark-primary);
}

.grid-footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20rem;
}

.footer-paragrah {
  font-size: 1.6rem;
  line-height: 2;
  font-weight: 100;
  margin-top: 2rem;
  word-spacing: 1rem;
}

.footer-heading {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.footer-list li {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.footer-list li a {
  text-decoration: none;
}
